#frame_menu_about::after {
    content:"";
    display:block;
    width: 100%; height:4px;
    background-color:#74b16de1;
    position:absolute;
    left:0px; bottom: 4px;
    z-index: -1;   
}

.content{
    margin-top: 104px;
    width: 64vw;
    margin-left: calc(50% - 32vw);
}
    .content_title{
        letter-spacing: 0.2em;
        line-height: 20px;
        font-size: 24px;
        font-weight: bold;
        color:  #656561;
        border-bottom: solid 4px#656561;
    }
    .top_line{
        background-color: #656561;
        height: 2px;
        margin-top: 2px;
    }
    .container{
        width: 100%;
        margin-top: 80px; margin-bottom: 40px;
    }
        .container_title{
            text-align: center;
            letter-spacing: 0.2em;
            font-size: 20px;
            font-weight: normal;
            width: 160px;
            color: #fbfaf8;
            position:relative;
        }
        .container_title::before{
            content:"";
            display:block;
            width: 100%; height: 160%;
            background-color:#656561;
            position:absolute;
            left: 0%; top: -30%;
            z-index: -1; 
        }
        .container_content{
            margin-top: 40px;
            padding: 40px;
            background-color: #ffffff;
        }
        .policy{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
            .policy_subtitle{
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 0.2em;
                color: #656561;
            }
            .policy_pic{
                padding: 8%;
                width: 84%;
                margin-top: auto;
            }  
            .profile_me{
                width: 25%; height: 25%;
                background-color: #747474;
                margin-left: 75%;
                position: relative;
            }
            .profile_me::after{
                content: "";
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 30px); height: calc(100% - 30px);
                border-image-source: 
                    repeating-linear-gradient(45deg, rgb(22, 22, 22), rgb(65, 65, 65) 3px,
                    rgba(0 0 0/0)0, rgba(0 0 0/ 0) 60px
                );
                border-image-slice: 30;
                border-image-repeat: round;
                border-style: solid;
                border-width: 30px;
            }
            .profile_icons{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
            }
            .profile_icon{
                margin-right: 60px; margin-left: 60px;
                border-radius: 100%;
                background-color: #fbfaf8;
            }
            .profile_tag{
                margin-right: 60px; margin-left: 60px;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0.2em;
                text-align: center;
            }
            .profile_text{
                font-size: 16px;
                letter-spacing: 0.2em;
                margin-top: 20px; margin-left: 120px; margin-right: 120px; 
            }
        .skills{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
            .skills_icon{
                width: 40%; height: auto;
                margin: 20px;
                padding: 32px;
            }
            .skills_ai{
                background-image: 
                    radial-gradient(#ffffff 64%, transparent 68%),
                    conic-gradient(#74b16d 0% 80%, #D9D9D9 80% 100%);
                border-radius: 100%;
            }
            .skills_ps{
                background-image: 
                    radial-gradient(#ffffff 64%, transparent 68%),
                    conic-gradient(#74b16d 0% 50%, #D9D9D9 50% 100%);
                border-radius: 100%;
            }
            .skills_cin{
                background-image: 
                    radial-gradient(#ffffff 64%, transparent 68%),
                    conic-gradient(#74b16d 0% 50%, #D9D9D9 50% 100%);
                border-radius: 100%;
            }
            .skills_fig{
                background-image: 
                    radial-gradient(#ffffff 64%, transparent 68%),
                    conic-gradient(#74b16d 0% 60%, #D9D9D9 60% 100%);
                border-radius: 100%;
            }
            .skills_html{
                background-image: 
                    radial-gradient(#ffffff 64%, transparent 68%),
                    conic-gradient(#74b16d 0% 75%, #D9D9D9 75% 100%);
                border-radius: 100%;
            }
            .skills_css{
                background-image: 
                    radial-gradient(#ffffff 64%, transparent 68%),
                    conic-gradient(#74b16d 0% 75%, #D9D9D9 75% 100%);
                border-radius: 100%;
            }
            .skills_js{
                background-image: 
                    radial-gradient(#ffffff 64%, transparent 68%),
                    conic-gradient(#74b16d 0% 60%, #D9D9D9 60% 100%);
                border-radius: 100%;
            }
            .skills_wp{
                background-image: 
                    radial-gradient(#ffffff 64%, transparent 68%),
                    conic-gradient(#74b16d 0% 60%, #D9D9D9 60% 100%);
                border-radius: 100%;

            }

@media screen and (max-width: 1080px){
.content{
    width: 84vw;
    margin-top: 104px;
    margin-left: calc(50% - 42vw);   
}
    .content_title{
        letter-spacing: 0.1em;
        line-height: 20px;
        font-size: 24px;
        color:  #656561;
        border-bottom: solid 4px#656561;
    }
    .content_work{
        margin-top: 2px; margin-left: calc(50% - 42vw);
        width: 84vw;
        position: static;
    }
    .top_line{
        height: 2px;
    }
    .container{
        width: 100%;
        margin-top: 80px; margin-bottom: 40px;
    }
    .profile{
    }   
        .profile_icons{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
        .profile_icon{
            margin-right: 32px; margin-left: 32px;
        }
        .profile_tag{
            margin-right: 32px; margin-left: 32px;
        }
        .profile_text{
            font-size: 16px;
            letter-spacing: 0.2em;
            margin-top: 40px; margin-left: 40px; margin-right: 40px; 
        }
}
            
            
@media screen and (max-width: 680px){
.content{
    width: calc(100vw - 34px);
    margin-top: 72px; margin-left: calc(50% - calc(50vw - 17px));
}
    .content_title{
        letter-spacing: 0.2em;
        line-height: 20px;
        font-size: 20px;
        border-bottom: solid 2px#656561;
    }
    .top_line{
        margin-top: 1px;
        height: 1px;
    } 
    .container{
        width: 100%;
        margin-top: 80px; margin-bottom: 40px;
    }
        .container_title{
            text-align: center;
            letter-spacing: 0.2em;
            font-size: 16px;
            font-weight: normal;
            width: 100px;
            position:relative;
        }
        .container_title::before{
            content:"";
            display:block;
            width: 100%; height: 160%;
            background-color:#656561;
            position:absolute;
            left: 0%; top: -30%;
            z-index: -1; 
        }
        .container_content{
            margin-top: 20px;
            padding: 20px;
        }
        .policy{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
            .policy_text{
                font-size: 12px;
                letter-spacing: 0.0em;
            }
            .policy_pic{
                padding-right: 8%; padding-left: 8%;
                width: 84%;
                margin-top: 4px;
            }
        .profile{
        }   
            .profile_me{
                width: 50%; height: 50%;
                background-color: #747474;
                margin-left: 50%;
                position: relative;
            }
            .profile_icons{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
            }
            .profile_icon{
                margin-right: 20px; margin-left: 20px;
            }
            .profile_tag{
                margin-right: 20px; margin-left: 20px;
                font-size: 12px;
                letter-spacing: 0.2em;
            }
            .profile_text{
                font-size: 12px;
                letter-spacing: 0.2em;
                margin-top: 20px; margin-left: 0px; margin-right: 0px; 
            }
        .skills{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
            .skills_icon{
                margin: 20px; padding: 20px;
                
            }
}

